@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
  h3{
   @apply flex items-center justify-center w-322 h-50 flex-col flex-shrink-0 text-white font-segoe-ui font-semibold text-1.875rem leading-1.375rem;
  }
} */

/* @layer components {
  .workflowTxt {
    @apply text-blue-600 font-segoe-ui font-semibold text-1.875rem leading-1.375rem;
  }
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer components{
  /* Workflow */
  .WorkFlowMangementTxt{
    @apply text-black font-sans text-3xl font-semibold leading-5 m-4
  }
  /* Workflow All Project Resources Start */
  .PRTxtFlex{
   @apply w-auto  h-10 flex flex-row justify-between items-center m-0 
  }
  .SearchBarFlexPR
  {
    @apply flex flex-row w-56 h-8 justify-start items-center gap-1	border-2 
     border-inherit bg-white p-2
  }
  .ImgSearchIcon {
    @apply w-40 h-4 
  }
  .SearchBarTxt{
    @apply flex-1 text-slate-300 font-mono text-base  not-italic font-normal
  }
  .TopProjectResourceTxt{
    @apply text-black  font-sans	text-base not-italic font-semibold 
  }
  .PRMonthlyText{
    @apply flex px-2 py-3 justify-center items-center gap-3  self-stretch 
      bg-slate-100 text-slate-400 font-mono text-sm  font-medium w-32  h-8 
  }
  .PRSearchFlexLeft{
    @apply flex flex-row  justify-end items-center gap-3 
  }
  .PRGraphUpperTxt{
    @apply text-slate-400   font-sans text-xs font-normal not-italic  flex  justify-start 
     items-center
  }
  /* WorkFlow All Projects Resources end */

  /* Project List Styling */
  .ProjectListTopSec{
    @apply flex flex-row items-center justify-between self-stretch px-4 py-0 h-14 w-auto
  }
  /* padding to be removed when styling to be add in the section wrapper */
  .ProjectListTxt{
    @apply flex flex-col justify-center items-start  w-36 h-6 text-black font-sans text-base not-italic font-semibold leading-6
  }

  .PLBtnFlex{
    @apply flex  items-start gap-0  w-auto h-8  
  }
  .PLLeftContextButton{
    @apply text-blue-500 font-sans text-sm  font-normal not-italic flex px-1 py-4 items-center justify-center gap-1 rounded-sm bg-white border-2 border-sky-500 w-28 h-8
  }
  .PLLeftContextButtonLastTwo{
    @apply  text-black font-sans text-sm  font-normal not-italic flex px-1 py-4 items-center justify-center gap-1 rounded-sm bg-white border-2 border-black w-28 h-8
  }
  /* Graph Pie Chart */
  .PLProcurementTxt{
    @apply text-black font-mono pb-9 text-base not-italic font-bold leading-normal  w-32 h-6 
  } 
  .PlInprogress{
    @apply  text-amber-500  font-sans text-xs not-italic font-normal leading-7 text-center w-24 h-8 flex-shrink-0 border-2 rounded-sm  border-amber-300 bg-amber-100 
  }
  .PLCurrentStage{
    @apply text-black font-mono text-sm not-italic font-bold leading-normal w-52 h-5 flex justify-start items-center pt-7
  }
  .PLDueDate
  {
    @apply text-slate-500 font-sans  text-sm not-italic font-semibold flex  justify-start
 text-left pt-5
 }
  .PLCompleted{
    @apply text-black font-serif text-xs not-italic font-bold  leading-normal pt-5 text-center
  }
  .PLGraphContent{
    @apply w-64 h-80 bg-white py-6 px-4
  }
  /* Graph Pie Chart */

  /* Project List Styling */

/* NavBar */
.NavigationFlex{
  @apply w-full h-12 flex px-2 py-4 justify-between items-center bg-black  shadow-sm
}

.LogoSynt{
  @apply  w-24 h-8
}

.SearchBoxSearchFlex{
  @apply flex px-2.5 py-4 justify-center items-center gap-2  rounded-xl border-2 shadow-sm w-96 h-8 border-slate-300 
}

.SearchTxtNav{
  @apply font-serif text-sm rounded-sm font-normal leading-7 text-white  px-1 py-0 gap-2 flex-1 flex bg-black
}

.ImgSearchNav{
  @apply w-4 h-4 flex 
}

.RightIconNavFlex{
  @apply flex justify-between  items-center w-52 h-12 
}

.ProfileTxtFlex{
@apply flex  px-0 py-3 gap-2 items-center self-stretch  h-auto
}

.ProfileNameTxtNav{
  @apply text-white font-serif text-sm font-normal not-italic leading-7
}

.NavLogoRightIcons{
  @apply w-4 h-4
}

.NavLogoRightIconsPrfile{
  @apply w-6 h-6
}
/* NavBar */

/* SideBar */
.SideBarProperties{
  @apply  w-52 h-screen bg-slate-100 flex flex-col justify-between items-start
  /* here heighht has to take 900 */
}

.SideBarIconSize{
  @apply w-4 h-4
}

.DashBrdTitleImgFlex{
  @apply flex flex-row justify-start items-center px-0 py-4 gap-2.5 self-stretch bg-slate-100 w-52  h-10
} 

.ProjectsNotherTitleImgFlex{
  @apply flex flex-row justify-start items-center px-0 py-4 gap-2.5 self-stretch bg-slate-100 w-52 h-10
}

.SideBarTitlePagesTxtBlue{
  @apply w-32 text-blue-500 h-10  font-sans text-sm not-italic font-normal leading-7 flex items-center justify-start
}


.SideBarTitlePagesTxt{
  @apply w-32 text-black h-10  font-sans text-sm not-italic font-normal leading-7 flex items-center justify-start
}

.RightArrowSideBarSize{
  @apply w-3 h-2
}

/* SideBar */
/* Project Overview */
.ProjectOverViewFlex
{
  @apply flex items-center gap-2.5 self-stretch flex-1 w-full h-14 
}

.ProjectOverViewTxt
{
  @apply text-black font-serif text-2xl font-semibold leading-10
}

.ProjectOverviewDiv
{
  @apply bg-slate-200 w-full h-[0.5px]
}
.PRAllProjects{
  @apply text-blue-500 font-sans text-base not-italic font-medium leading-6
}

.ProjectOverviewAllProjectsFlexButton{
  @apply flex flex-row justify-start items-start gap-2 w-64 px-1 py-4  
}

.PRAllProjectsLine{
  @apply w-20 h-1 bg-blue-500
}

.AllProjectButtonFlex{
  @apply flex flex-col items-center justify-center gap-4
}
.SelectArrow{
  @apply flex  flex-row justify-start items-center gap-2 w-24 h-8 border rounded-sm border-slate-300 shadow-sm px-5 py-4 bg-slate-200
}

.PRSelect{
  @apply text-slate-300 font-sans text-sm font-normal not-italic leading-7
}

.DownArrowImg{
  @apply w-2 h-[11.25px] flex-shrink-0
}
/* Project Overview */

/* Project Form */
.AddProjectHeadFlex{
  @apply  flex flex-row w-[1218] h-14 px-3 py-6 justify-between items-center bg-white
 mb-4}
.PFAddNewPrj{
  @apply text-black font-sans text-xl font-semibold not-italic leading-7 w-40  flex items-center  gap-1 h-10
}

.PFAllPrj{
  @apply flex flex-row items-center justify-center bg-white border rounded-sm shadow-sm border-slate-200   w-28 h-8 px-1 py-4 flex-shrink-0 text-black font-sans  text-sm font-normal leading-snug gap-2
}

.DownArrowPR{
  @apply w-2 h-3
}

.ProjectFormFlexingHeroSec{
  @apply  flex flex-col items-center flex-shrink-0 justify-between bg-white w-auto py-1  h-[435px]
}

.ProjectFormFlex{
  @apply  flex flex-col px-6 items-center justify-center
}

.PFDetailsList{
  @apply text-black  text-left font-sans text-base font-normal not-italic leading-6 w-40 h-6 }

.inputSpaceForm{
   @apply text-slate-500 font-sans text-sm font-normal not-italic leading-6 pb-1 self-stretch items-center flex-1 border rounded-sm border-slate-200 bg-slate-100 shadow px-1 py-1 h-8 w-96 m-1
}

.inputSpaceFormdate{
  @apply text-slate-500 font-sans text-sm font-normal not-italic leading-6 pb-1 self-stretch items-center flex-1 border rounded-sm border-slate-200 bg-slate-100 shadow px-1 py-1 h-8 w-[184px] m-1
}
.inputSpaceFormAddResouces{
   @apply text-slate-500 font-sans text-sm font-normal not-italic leading-6  self-stretch items-center flex-1 border  rounded-sm  border-slate-200 bg-slate-100 shadow px-1 py-1 h-20 w-96 m-1
}

.ProjectFormBtnNxt{
  @apply px-1 py-1 justify-center items-center rounded-sm border border-blue-500 bg-blue-500 shadow-sm w-16 h-8 font-sans text-center text-white text-sm font-normal not-italic leading-3 flex-row-reverse 
}

.ProjectFormSectioAdj{
@apply flex flex-row items-center justify-between
}
/* Project Form */


/* Projects Stages */
.ProjectStagesBar{
  @apply text-black font-sans text-base  not-italic font-semibold leading-7 bg-white w-[87vw] flex justify-between items-center  px-4 py-4 flex-shrink-0 m-2 
}

.LeftStagesSection{
  @apply h-auto w-[99%] flex flex-col items-start justify-center flex-shrink-0 self-stretch rounded-sm bg-white  gap-1   m-2 
}

.LeftSectionStagesStage1{
  @apply flex flex-col justify-center items-center w-[612px] h-[133px] gap-2   
}

.AddSatge1Txt{
  @apply text-blue-500 font-sans text-sm  not-italic font-bold leading-6 w-auto h-6 bg-white flex px-5 py-6 flex-col items-start self-stretch shadow-sm  justify-center border-b-4  
}

.Satge1Txt{
  @apply text-blue-700 font-sans text-sm not-italic font-medium leading-7 px-2 w-[602px] h-[22] rounded-sm   bg-white 
}

.RequirementStages{
  @apply text-blue-400  font-sans text-sm font-normal leading-6 flex-1 w-[612px] h-6 flex px-3 py-3 items-center gap-1  rounded-sm bg-white  
}

 .AddStages{
  @apply text-black font-sans text-sm font-medium not-italic leading-6 w-auto h-8 flex px-6 py-3 items-center gap-1  rounded-sm    bg-white 
}

 .AddCheckListStages{
  @apply text-black font-sans text-sm font-normal not-italic leading-6 w-auto h-10 flex px-10 py-3 items-center gap-1  rounded-sm  bg-white  border-slate-100
 }

 .AddStagsCol{
  @apply text-blue-500 font-sans text-sm not-italic font-normal leading-6 flex  pl-4 items-center gap-1 self-stretch p-3 
 }

 .StagesAddResourcesTxt{
  @apply w-40 h-6 text-black font-sans text-lg not-italic font-semibold leading-normal items-start justify-start
 }

.StagesRightContainerHeader{
  @apply flex flex-row justify-start items-center gap-6
}

 .SearchSize{
  @apply w-6 h-4 
 }  

 .SearchTxtStagesRightCont{
  @apply  text-slate-500 font-sans text-sm not-italic font-normal leading-5 cursor-pointer
 }

 .StagesRightContainerAddREsouce{
  @apply w-[515px] h-[626px] rounded-md bg-white  flex flex-col justify-start items-start gap-6  p-3
 }
  .StagesRightContainerSrchBtnFlex
 {
  @apply flex flex-row justify-start items-center gap-4
 }
 .StagesRightContainerBtnAll{
  @apply w-5 h-4 text-blue-500 font-sans text-sm not-italic font-semibold leading-normal
 }

 .SatgesRightContainerBtnSelectAval{
  @apply  w-14 h-4  text-slate-500 font-sans text-sm not-italic font-semibold leading-normal 
 }

 .StagesRightContainerProfileBox{
  @apply grid  grid-flow-row gap-2 w-[473.667px] h-auto flex-shrink-0 rounded-md  border-black p-4  
 }
 .ProfileName{
  @apply  text-black font-sans text-base not-italic font-bold leading-normal
 }
 .ProfileProffesion{
  @apply text-slate-300 font-sans text-sm not-italic font-normal leading-normal
 }

 .ProfileAvailable{
  @apply text-blue-500 font-sans text-sm not-italic font-normal leading-normal
 }
/* Projects Stages */
/* Use Cases */
.ProcurWrongFlex{
  @apply flex flex-row items-center justify-between  p-5 
}

.ProcurWrkFlwTxt{
  @apply flex w-80   h-8 flex-col justify-center flex-shrink-0 text-black font-sans text-3xl not-italic font-semibold leading-7 
}

.TopBarMainSectionFlex{
  @apply flex flex-row  justify-between items-center bg-white w-auto h-14 flex-shrink-0  px-3 mb-5
}

.UseCasesTxt{
  @apply  text-black font-sans text-lg not-italic font-semibold  leading-7 w-[82px] h-10 flex  items-center gap-4 bg-white 
}

.BtnSearchFlexLeft{
  @apply flex flex-row justify-start items-center gap-2
}



.SearchTxtSearchBarFlex{
  @apply flex flex-row justify-start items-center 
}

.SearchTxt{
  @apply text-black font-sans text-sm not-italic font-normal leading-7 w-52 h-8  flex px-1 py-3 items-start gap-[10px]  border-black  
}

.UseCaseBtnClr{
  @apply flex px-0 py-4 justify-center items-center gap-2 self-start border rounded-sm bg-blue-500 w-11 h-8 
}

.OrientViewBtn{
  @apply flex px-1 py-4 items-center justify-center gap-2 rounded-sm border bg-blue-500 w-24 h-8 text-white text-center font-sans text-sm not-italic font-normal leading-7
}

.ResoucesViewBtn{
  @apply flex px-1 py-4 items-center justify-center gap-2 rounded-sm border bg-blue-600 w-32 h-8 text-white text-center font-sans text-sm not-italic font-normal leading-7
}
/* Compoemet inside the UseCase */
.RequirementText{
  @apply text-blue-800 font-sans text-base not-italic font-semibold leading-6
}

.UseCaseTxt{
  @apply text-black font-sans text-sm not-italic font-semibold leading-7 w-20  h-7
}

.AssignedColTxtUsecaseComp{
  @apply text-black font-sans text-sm not-italic font-semibold leading-7 w-28 h-6 text-start
}

.NameProfileColUsecaseComp{
  @apply text-black font-sans text-sm not-italic font-semibold leading-7 w-24 h-6 text-start
}

.NameProfileColUsecaseCompDate{
  @apply  text-orange-500 font-sans text-sm not-italic font-semibold leading-7 w-24 h-6 text-start
}

.NameProfileColUsecaseCompDateGreenClrDate{
@apply text-green-500 font-sans text-sm not-italic font-semibold leading-7 w-24 h-6 text-start
}
/* Compoemet inside the UseCase */

/* Use Cases */



}


    @layer utilities{
  @..PLLeftContextButton{
    /* rounded-tl-2 rounded-bl-2 */
  }
    }
  
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
